{% extends 'base.html' %}

{% block content %}
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Agregar Lugares de Trabajo</h2>
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="boolean-field">
                        {% for checkbox in form.lugares %}
                            <div>
                                {{ checkbox.tag }}
                                <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Agregar Lugares de Trabajo</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
