{% extends 'base.html' %}

{% block content %}
  <h2>Registrarse como Cliente</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_username">Nombre de usuario:</label>
      {{ user_form.username }}
    </div>
    <div class="form-group">
      <label for="id_password">Contraseña:</label>
      {{ user_form.password }}
    </div>
    <div class="form-group">
        <label for="id_password">correo:</label>
        {{ user_form.email }}
      </div>
    <!-- Include other user fields here -->
    <div class="form-group">
      <label for="id_phone">Teléfono:</label>
      {{ cliente_form.phone }}
    </div>
    <div class="form-group">
      <label for="id_rut_cl">RUT:</label>
      {{ cliente_form.rut_cl }}
    </div>
    <div class="form-group">
      <label for="id_birth_date">Fecha de Nacimiento:</label>
      {{ cliente_form.birth_date }}
    </div>
    <div class="form-group">
      <label for="id_gender">Género:</label>
      {{ cliente_form.gender }}
    </div>
    <!-- Include other cliente fields here -->
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
{% endblock %}

